.popup__submit-button {
    width: 358px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    margin: 48px 0 37px;
    cursor: pointer;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.popup__submit-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 720px) {
    .popup__submit-button {
        width: 238px;
        height: 46px;
        margin-top: 56px;
        font-size: 14px;
        line-height: 17px;
    }
}