.profile__info-title {
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
    color: rgb(255, 255, 255);
    grid-area: title;
    margin: 0;
    text-align: center;
}

@media screen and (max-width: 920px) {
    .profile__info-title {
        font-size: 27px;
        line-height: 33px;
        margin: 23px 10px 14px 23px;
    }
}